/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap'); */
/* @import url('/font/WEB/HKGrotesk-Regular.woff');
@import url('/font/WEB/HKGrotesk-Medium.woff');
@import url('/font/WEB/HKGrotesk-Bold.woff'); */

* {
  -webkit-font-smoothing: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Raleway:wght@700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hkgrotesk;
  font-display: swap;
  src: url("/font/WEB/HKGrotesk-Regular.woff");
}
.androiddoc .show-only-on-doctor-app {
}
.androidp .show-only-on-doctor-app,
.www-eka .show-only-on-doctor-app,
.patient-app-ios .show-only-on-doctor-app {
  display: none !important;
}

.androiddoc .dont-show-on-doctor-app {
  display: none !important;
}

.androidp .dont-show-on-patient-app,
.patient-app-ios .dont-show-on-patient-app {
  display: none;
}

.doctor-only-active .doctor-only-visible {
}
.doctor-only-active .doctor-only-invisible {
  display: none !important;
}

.staff-active .doctor-only-visible {
  display: none !important;
}

.androiddoc .bottom-start-point {
  bottom: 3rem;
}
.androidp .bottom-start-point,
.www-eka .bottom-start-point,
.patient-app-ios .bottom-start-point {
  bottom: 0;
}

.androidp .content-top,
.patient-app-ios .content-top,
.androiddoc .content-top {
  top: 0;
}
.content-top {
  top: 57px;
}

.androidp .table-caption-top,
.patient-app-ios .table-caption-top,
.androiddoc .table-caption-top {
  top: 90px;
}
.table-caption-top {
  top: 147px;
}
.androidp .table-caption-top-1,
.patient-app-ios .table-caption-top-1,
.androiddoc .table-caption-top-1 {
  top: 114px;
}
.table-caption-top-1 {
  top: 171px;
}

.androidp .tab-width,
.androiddoc .tab-width {
  width: 50%;
}

.www-eka .tab-width,
.patient-app-ios .tab-width {
  width: 8rem;
}

.vaccine-availability-datepicker-top {
  top: 113px;
}
/* .androidp .vaccine-availability-datepicker-top,
.patient-app-ios .vaccine-availability-datepicker-top {
  top: 56px;
} */

.vaccine-availability-filter-top {
  top: 113px;
}
.androidp .vaccine-availability-filter-top,
.patient-app-ios .vaccine-availability-filter-top {
  top: 56px;
}

/* goole search style class */

@media only screen and (max-width: 820px) {
  .pac-container {
    margin-top: 16px !important;
    width: calc(100vw - 32px) !important;
    box-shadow: 0px 1px 2px rgba(76, 89, 128, 0.08),
      0px 4px 8px rgba(114, 101, 227, 0.12) !important;
    left: 16px !important;
    border: none;
  }
}

@media only screen and (min-width: 820px) {
  .pac-container {
    left: calc(8.33vw + 32px) !important;
    right: calc(50vw + 56px) !important;
    margin-top: 16px !important;
    width: auto !important;
    box-shadow: 0px 1px 2px rgba(76, 89, 128, 0.08),
      0px 4px 8px rgba(114, 101, 227, 0.12) !important;
    border: none;
  }
}

.pac-item {
  font-family: "hkgrotesk", "sans-serif";
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  display: flex !important;
  align-items: center;
  padding-left: 16px;
}

.pac-icon {
  display: none;
}

@layer utilities {
  @variants responsive {
    .ripple {
      @apply relative overflow-hidden transform;
    }
    .ripple::after {
      @apply absolute inset-0 block bg-center bg-no-repeat opacity-0 pointer-events-none;
      content: "";
      background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
      transform: scale(10, 10);
      transition: transform 0.3s, opacity 1s;
    }
    .ripple:active::after {
      transform: scale(0, 0);
      opacity: 0.3;
      transition: 0s;
    }

    .font-inter {
      font-family: "Inter", "sans-serif";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .font-hk {
      font-family: "hkgrotesk", "sans-serif";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .font-raleway {
      font-family: "Raleway", "sans-serif";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .n1 {
      @apply font-800 text-12 leading-20;
    }
    .n2 {
      @apply font-700 text-14 leading-24;
    }
    .raleway {
      @apply font-800 text-22 leading-28;
    }
    .inter {
      @apply font-500 text-14 leading-24;
    }
    .bh1 {
      @apply font-800 text-56 leading-64;
    }
    .bh2 {
      @apply font-600 text-24 leading-32 -tracking-0.5px;
    }
    .rh2 {
      @apply font-400 text-24 leading-32 -tracking-0.5px;
    }
    .sh {
      @apply font-800 text-36 leading-40;
    }
    .rl4 {
      @apply font-400 text-18 leading-24;
    }
    .rl5 {
      @apply font-400 text-16 leading-24;
    }
    .bl1 {
      @apply font-800 text-40 leading-48;
    }
    .bl2 {
      @apply font-800 text-32 leading-40;
    }
    .bl3 {
      @apply font-800 text-30 leading-40;
    }
    .bl4 {
      @apply font-800 text-18 leading-24;
    }
    .bl5 {
      @apply font-800 text-16 leading-24;
    }
    .Big {
      @apply font-700 text-140 leading-152 -tracking-0.2px;
    }
    .Big1 {
      @apply font-700 text-60 leading-78 -tracking-0.2px;
    }
    .NumbersNumber1 {
      @apply font-500 text-42 leading-42 tracking;
    }
    .NumbersNumber2 {
      @apply font-500 text-36 leading-36 tracking;
    }
    .NumbersNumber3 {
      @apply font-500 text-30 leading-30 tracking-0.5px;
    }
    .NumbersNumber4 {
      @apply font-500 text-20 leading-20 tracking-0.2px;
    }
    .PoppinsHindi {
      @apply font-400 text-16 leading-28;
    }
    .LinkAction1 {
      @apply font-700 text-16 leading-20;
    }
    .LinkAction2 {
      @apply font-700 text-14 leading-20;
    }
    .SectionTitleCaption1 {
      @apply font-700 text-13 tracking leading-20 uppercase;
    }
    .SectionTitleCaption2 {
      @apply font-700 text-11 tracking leading-18 uppercase;
    }
    .TitlesPageTitle {
      @apply font-700 text-32  leading-36;
    }
    .TitlesTitle1 {
      @apply font-700 text-28 leading-32;
    }
    .TitlesTitle2 {
      @apply font-700 text-24 leading-30;
    }
    .TitlesTitle3 {
      @apply font-700 text-20 leading-24;
    }
    .TitlesHeadline {
      @apply font-700 text-18 leading-24;
    }
    .TitlesSubheadline {
      @apply font-700 text-16 leading-20;
    }
    .SubtitleSubtitle1 {
      @apply font-500 text-20 leading-36;
    }
    .SubtitleSubtitle2 {
      @apply font-500 text-18 leading-32;
    }
    .BodyBody {
      @apply font-400 text-16 leading-28;
    }
    .BodyCallout {
      @apply font-400 text-14 leading-24;
    }
    .BodyFootnote {
      @apply font-400 text-13 leading-18;
    }
    .BodyInputLabel {
      @apply font-400 text-12 leading-12;
    }
    .BodyTabBar {
      @apply font-400 text-10 leading-12;
    }
    .BodyTabBarBold {
      @apply font-700 text-10 leading-12;
    }
    .Display02 {
      @apply font-600 text-56 leading-62;
    }
    .Label01 {
      @apply font-600 text-22 leading-30;
    }
  }
}

/* pure css below */
body {
  font-family: hkgrotesk, sans-serif;
  height: 100%;
  overflow: auto;
}

html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

.animate-BG {
  animation: animateBottomSheetBG 0.2s linear;
}
@keyframes animateBottomSheetBG {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.bottom-sheet {
  bottom: 0;
  animation: animate-bottom 0.2s ease-out;
}

@keyframes animate-bottom {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

.animateloading {
  animation-name: animateloading;
  animation-duration: 5s;
}
@keyframes animateloading {
  from {
    width: 0px;
  }
  to {
    width: 328px;
  }
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.c-label-container {
  opacity: 0.5;
  background: transparent;
  color: #09101d;
  pointer-events: none;
  transform-origin: 0 0;
  transition: transform 0.4s ease-out, opacity 0.2s ease-out;
}
input.c-input:focus + .c-label-container,
input.c-input:not(:placeholder-shown) + .c-label-container {
  opacity: 1;
  background: white;
  color: inherit;
  transform: translateY(-1.4rem) scale(0.8);
}
.c-label-container > p:nth-child(2) {
  display: none;
}
input.c-input:focus + .c-label-container > p:nth-child(2),
input.c-input:not(:placeholder-shown) + .c-label-container > p:nth-child(2) {
  display: flex;
}

input.c-input::placeholder {
  color: transparent;
}

button.loading-button {
  background: #f0f2ff; /* default color */
  background: linear-gradient(to left, #f0f2ff 50%, #7265e3 50%) right;
  background-size: 200%;
  animation: button-loading 5s ease-out;
}

@keyframes button-loading {
  100% {
    background-position: left;
  }
}

/* shimmer  */

.br {
  border-radius: 8px;
}

.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.comment {
  background: #777;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.start-assessment-card {
  background: linear-gradient(135deg, #af8eff 0%, #7265e3 100%);
  box-shadow: 0px 0px 8px 0px rgba(114, 101, 227, 0.12);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ripple-button {
  padding: 14px 24px;
  background: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-weight: 700;
}

.ripple-button > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgb(156 163 175);
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}
